<footer>
    <section>
        <div class="container">
            <div class="col-md-4"><strong>Top venues to you inbox</strong></div>
            <form class="col-md-8">
                <input type="text" class="col-md-5" placeholder="First Name"/>
                <input type="text" class="col-md-5" placeholder="E-mail address"/>
                <button class="col-md-2">Confirm</button>
            </form>
        </div>
    </section>
    <section>
        <div class="container">
        </div>
    </section>
</footer>