<footer>
    <section>
        <div class="container">
            <div class="col-md-4"><strong>Top venues to you inbox</strong></div>
            <form class="col-md-8">
                <input type="text" class="col-md-5" placeholder="First Name"/>
                <input type="text" class="col-md-5" placeholder="E-mail address"/>
                <button class="col-md-2">Confirm</button>
            </form>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <ul>
                    <li class="padding-bottom-base"><strong>Blogs</strong></li>
                    <li>Reviews</li>
                    <li>Tips</li>
                    <li>Weddings</li>
                    <li>Conferences</li>
                    <li>Venue Marketing</li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li><strong>Venues</strong></li>
                    <li>&nbsp;</li>
                    <li>Venue Login</li>
                    <li>List Your Venue</li>
                    <li>Weddings</li>
                    <li>Pricing (It's free)</li>
                </ul>
            </div>
            <div class="col-md-2"><div class="row"><strong>Hire Space</strong></div> </div>
            <div class="col-md-2"><div class="row"><strong>Legal</strong></div></div>
            <div class="col-md-2"><div class="row"><strong>Social Media</strong></div></div>
            <div class="col-md-1"></div>
        </div>
    </section>
</footer>