<footer>
    <section>
        <div class="container">
            <div class="col-md-4"><strong>Top venues to you inbox</strong></div>
            <div class="col-md-8">
                <form action="">
                    <input type="text" placeholder="First Name"/>
                    <input type="text" placeholder="E-mail address"/>
                    <button>Confirm</button>
                </form>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
        </div>
    </section>
</footer>