.page-enquiries-feed
  header
    margin: $double-unit-layout 0
    position: relative

    h1
      margin: 0
      font:
        size: rem(28px)

      strong
        text-transform: capitalize

    .label
      position: absolute
      right: 0
      top: 50%
      margin-top: -(rem(12px))

  .details-bar
    $details-bar-height: $quadruple-unit-layout + $half-unit-layout

    height: $details-bar-height + rem(2px)
    background: $color-grey-50
    border-top: 1px solid $color-grey-100
    border-bottom: 1px solid $color-grey-100

    ul
      +clearfix

      width: 100%
      padding: 0
      list-style: none
      display: table
      height: $details-bar-height

      li
        +ellipsis(160px)

        display: table-cell
        height: $details-bar-height
        line-height: $details-bar-height
        font:
          weight: 500
          size: rem(14px)

        .icon
          top: $half-unit-layout + $quarter-unit-layout

        &.separator
          background: transparent
          padding: 0 $base-unit-layout
          position: relative

          span
            position: absolute
            display: block
            left: 50%
            top: 0
            height: $details-bar-height
            width: 1px
            background: $color-grey-100

  section
    margin: $double-unit-layout 0
    padding: $double-unit-layout 0
    border-top: 1px solid $color-grey-50
    border-bottom: 1px solid $color-grey-50

    nav.controls
      button
        height: $quadruple-unit-layout
        line-height: $quadruple-unit-layout
        width: 100%
        margin: 0
        padding: 0

        .icon
          top: $base-unit-layout - $quarter-unit-layout

  .modal
    padding: $double-unit-layout

    header, main, footer
      padding: 0

    header
      position: relative

      .close,
      .undo
        right: 0
        top: 0
        position: absolute

      .heading
        font:
          size: rem(24px)

    main
      +border-radius(3px)

      color: $color-grey-700
      margin: $base-unit-layout 0
      background: $color-grey-50
      border: 0
      padding: $base-unit-layout

      .contact-info
        @extend .text-center

        padding: $base-unit-layout
        margin: 0
        font:
          weight: 700
          size: rem(28px)