.page-category
  background: white

  header
    background-color: $color-black

    .photo
      height: rem(450px)
      width: 100%
      margin: 0
      padding: $base-unit-layout
      background:
        image: url('https://wallpaperscraft.com/image/london_big_ben_night_landscape_28416_1920x1200.jpg')
        size: cover
        position: center
        repeat: no-repeat
      .head
        margin: 0
        .logo
          background:
            image: url('https://hirespace.com/img/invertedH48.png')
            repeat: no-repeat
          height: rem(47px)
          padding: 0
          span
            position: absolute
            right: rem(118px)
            color: white
            bottom: 0
            font-size: rem(10px)
        button
          +border-radius(3px 3px 3px 3px)
          height: $triple-unit-layout
          line-height: $triple-unit-layout
          float: right
          padding:
            top: 0
            bottom: 0
          margin: 0 $half-unit-layout
        .classic
          border-color: $color-green
          color: white
          background: $color-green
        .inverted
          border-color: white
          color: $color-green-700
          background: white
      .floating-spans
        height: rem(250px)
        width: 100%
        display: table
        margin: 0
        overflow: hidden
        p
          display: table-cell
          vertical-align: middle
          text-align: center
          color: white
          font-size: rem(36px)
          text-shadow: 0px 0px 1px $color-black
          strong
            text-transform: uppercase
            font-size: rem(40px)

  .breadcrumb
    color: $color-grey-500
    font-size: rem(17px)
    background: rgba($color-black, 0.75)
    margin-top: rem(-70px)
    .row
      padding: $double-half-unit-layout 0
      strong
        color: white
      span
        margin: 0 $half-unit-layout

  .main
    padding-bottom: $base-unit-layout
    .container
      padding: 0
      .col-md-7
        padding-left: 0
      .col-md-5
        padding-right: 0
    background-color: $color-background
    .row
      margin: $base-unit-layout 0
    .box
      background-color: white
      border: 1px solid $color-grey-100
      +border-radius(3px)
      padding: $base-unit-layout
    .search
      button
        float: right
        width: 100%
      input
        width: 100%
        font-size: rem(15px)
        padding-top: 15px
        padding-bottom: 15px

    .venue
      img
        width: 100%
        overflow: hidden
        height: rem(250px)
        +border-radius(5px)
      .overlay
        color: white
        background: rgba($color-black, 0.65)
        +border-radius(0 0 5px 5px)
        margin-top: rem(-44px)
        height: rem(40px)
        position: relative
        text-align: center
        font-size: rem(17px)
        padding: 8px 0
        i
          margin-left: rem(13px)
          margin-right: rem(4px)
      p
        overflow: hidden
        height: rem(50px)
      hr
        margin: 0 0 0 0
        border-color: white
      .price
        height: rem(52px)
        .col-md-5
          margin-top: rem(10px)
        span
          color: $color-hirespace
          font-size: rem(22px)
        .green
          float: right
    hr
      margin: 1rem 0 1.5rem 0
      border-color: $color-grey-50







