<header>
    <div class="container photo">
        <div class="row head">
            <div class="col-xs-6 col-md-2 logo">

            </div>

            <div class="col-xs-6 col-md-3 col-xs-offset-0 col-md-offset-7">
                <button>Ask Venue Expert</button>
            </div>
        </div>

        <div class="row floating-spans">
            <p>Hire Space takes your privacy very seriously. <br />
            Below are T&Cs, Privacy and Cookie policies.</p>
        </div>
    </div>

    <div class="container nav">
        <div class="row">
            <ul class="unstyled">
                <li class="active">Venues</li>
                <li>Terms of Use</li>
                <li>Acceptable Use Policy</li>
                <li>Privacy Policy</li>
                <li>Cookie Policy</li>
            </ul>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <h2>Venue Terms and Conditions</h2>
            <h4>Last updated 3<sup>nd</sup> February 2015</h4>
            <p>This page tells you the terms and conditions on which you (venue) accept bookings of space on our website <a href="http://hirespace.com">hirespace.com</a> (our site). You should understand that by making space available through our site or by accepting a Booking Enquiries you agree to be bound by these terms and conditions.</p>
            <h3>Highlights:</h3>
            <p><em>This highlights do not constitute our full terms and are only included for convenience, please read our full terms and conditions if you're considering accepting these terms.</em></p>
            <ul>
                <li>No listing or subscription fee</li>
                <li>No fee for photos to be taken for your Hire Space profile</li>
                <li>10% standard commission</li>
                <li>5% commission for schools in lower income areas</li>
                <li>5% commission for bookings which have already occurred on 100 different days</li>
                <li>Hire Space can use images, other media and any venue information for our own marketing</li>
                <li>Commission will be taken on the total payment from the Customer to the Venue, before V.A.T</li>
                <li>V.A.T. is required to be added to all commission</li>
                <li>Up to a £1,000 finders fee for booking enquiries where commission is not applicable</li>
            </ul>
            <h3>1.  Information about us and these terms:</h3>
            <p>1.1 Our site is operated by Hire Space Website Limited. We are registered in England and Wales under company number 7828456 with our registered office at Studio A403, The Biscuit Factory, London, SE16 4DG and our trading address at Studio A403, The Biscuit Factory, London, SE16 4DG.</p>
            <h4>1.2 Definitions in these terms and conditions:</h4>
            <p><strong>Booking Date:</strong> The date at which we have last been made aware that a booking is due to occur.</p>
            <p>
                <strong>Booking Enquiry:</strong> A Booking Enquiry has been made by a Customer when they:<br>
            <ul>
                <li>provide a brief which could potentially be satisfied by, or</li>
                <li>express interest in using, or</li>
                <li>ask a question about</li>
            </ul>
            <ul>
                <li>a Space available on hirespace.com, or otherwise made available to the Hire Space Team, either by:</li>
                <li>submitting their name and email through a form at hirespace.com</li>
                <li>contacting a member of the Hire Space Team, either to their professional or personal email address, telephone, mobile or via social media.</li>
            </ul>
            </p>
            <p><strong>Contact:</strong> In the context of this agreement, party A can only be regarded as having Contacted party B if party B has responded to, or acknowledged, this to party A. For example, if party A leaves a voicemail or sends an email which has not been replied to, this does not constitute Contact.</p>
            <p><strong>Customer:</strong> The person or company hiring or otherwise utilising space which is operated or owned by a Venue.</p>
            <p><strong>Hire Fee:</strong> The price, as shown on the relevant Space Profile, which must be paid to use a Space for a given purpose, time and date.</p>
            <p><strong>Hire Space Team:</strong> Any employees of Hire Space Website Limited or persons working at Studio A403, The Biscuit Factory, 100 Clements Road, London, SE16 4DG.</p>
            <p><strong>Introduction Email:</strong> An email sent by  a member of the Hie Space Team or by the Our Site, which contains contact details for the Customer and Venue for a given Booking Enquiry.</p>
            <p><strong>Minimum Spend:</strong> The minimum amount of money, as shown on the relevant Space Profile, which must be spent by the Customer in order to use a  Space for a given purpose, time and date.</p>
            <p><strong>Our Site:</strong> The website as found at the root domain hirespace.com and including all subdomains.</p>
            <p><strong>Space:</strong> A location, or set of locations, of which a Venue has operational control over or may be compensated for the use of.</p>
            <p><strong>Space Profile:</strong> The web page whose content describes a Space available for use through Our Site.</p>
            <p><strong>Venue ("You"):</strong> The person in control of the Space and who has listed it as available for use through Our Site.</p>
            <h3>2.  How a booking works:</h3>
            <p>2.1 When you make a space available for hire on Our Site, either publicly or to members of the Hire Space team, you agree to receive Booking Enquiries through Our Site and from members of the Hire Space Team.</p>
            <p>
                2.2 There are two ways in which a Booking Enquiries may be initially treated:<br>
            <ul>
                <li>when a Customer submits a booking or enquiry through our site it will be checked by a member of the Hire Space Team. They may forward the booking or enquiry directly, or contact You by other means at their discretion.</li>
                <li>when a Customer contacts a member of the Hire Space Team directly, we will contact You at Our discretion.</li>
            </ul>
            </p>
            <p>2.3 Once a customer has expressed a desire to be put directly in touch with a Venue, they will be introduced via an Introduction Email and other contact details may also be shared.</p>
            <p>2.4 Once a customer has been introduced via an Introduction Email, they are the the sole responsibility of the Venue. Customers and Venues choose to continue any relationship with each other past the Introduction Email at their own discretion and Hire Space can bear no responsibility for this. </p>
            <p>2.5 Hire Space may contact either Customer or the Venue at any point after the Introduction email to find out the status of the booking and to ask for feedback from either party.</p>
        </div>
    </div>
    <section class="email">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button class="green">Email these Terms and Conditions</button>
                </div>
            </div>
        </div>
    </section>

</section>

{{> footer }}