<footer>
    <div class="container sign-up-form">
        <div class="row">
            <div class="col-xs-12 col-md-5 text-left">
                <strong hs-bind="signup.text">Top venues to your inbox</strong>
            </div>
            <div class="col-xs-12 col-md-7">
                <form action="">
                    <input class="col-xs-12 col-md-5" type="text" placeholder="First Name"/>
                    <input class="col-xs-12 col-md-5" type="email" placeholder="E-mail Address"/>
                    <button class="col-xs-12 col-md-2">Confirm</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid splitter"></div>
    <div class="container links">
        <div class="row">
            <div class="col-xs-12 col-md-2">
                <strong>Blogs</strong>
                <ul class="unstyled">
                    <li>Reviews</li>
                    <li>Tips</li>
                    <li>Weddings</li>
                    <li>Conferences</li>
                    <li>Venue Marketing</li>
                </ul>
            </div>

            <div class="col-xs-12 col-md-2">
                <strong>Venues</strong>
                <ul class="unstyled">
                    <li>Venue Login</li>
                    <li>List Your Venue</li>
                    <li>Pricing (It's Free)</li>
                </ul>
            </div>

            <div class="col-xs-12 col-md-2">
                <strong>Hire Space</strong>
                <ul class="unstyled">
                    <li>Blog</li>
                    <li>About Us</li>
                    <li>Contact Us</li>
                    <li>Jobs</li>
                    <li>Media And Press</li>
                    <li>The Team</li>
                </ul>
            </div>

            <div class="col-xs-12 col-md-2">
                <strong>Legal</strong>
                <ul class="unstyled">
                    <li>Privacy Policy</li>
                    <li>Terms and Conditions</li>
                    <li>Cookie Policy</li>
                </ul>
            </div>

            <div class="col-xs-12 col-md-2">
                <strong>Social Media</strong>
                <ul class="unstyled">
                    <li>Twitter</li>
                    <li>Facebook</li>
                    <li>LinkedIn</li>
                </ul>
            </div>
        </div>
    </div>
</footer>