<nav class="logged-in">
    <a class="logo" href="/">
        <strong>Hire Space</strong>
    </a>

    <div class="logged-user">
        <div class="info">
            <strong>Name</strong>
            <a href="#">
                <small>Not you?</small>
            </a>
        </div>
        <div class="drop-down right">
            <i class="fa fa-cog"></i>

            <ul class="drop-down-menu">
                <li><a href="#">
                    <i class="fa fa-user"></i>
                    My Account
                </a></li>
                <li><a href="#">
                    <i class="fa fa-star"></i>
                    Upgrade
                </a></li>
                <li><a href="#">
                    <i class="fa fa-level-up"></i>
                    Referrals
                </a></li>
                <li><a href="#">
                    <i class="fa fa-bullhorn"></i>
                    Suggest a Feature
                </a></li>
                <li class="divider"><a href="#">
                    <i class="fa fa-wrench"></i>
                    Admin
                </a></li>
                <li><a href="#">
                    <i class="fa fa-list-alt"></i>
                    Features
                </a></li>
                <li><a href="#">
                    <i class="fa fa-picture-o"></i>
                    Style Guide
                </a></li>
                <li class="divider"><a href="#">
                    <i class="fa fa-sign-out"></i>
                    Sign Out
                </a></li>
            </ul>
        </div>
    </div>

    <ul class="primary">
        <li>
            <a href="">
                <i class="fa fa-home"></i>
                Venues
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-calendar-o"></i>
                Enquiries
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-bar-chart"></i>
                Analytics
            </a>
        </li>
    </ul>
</nav>