<nav class="logged-in">
    <a class="logo" href="/">
        <strong>Hire Space</strong>
    </a>

    <div class="menu">
        <div class="logged-user drop-down right">
            <div class="info">
                <strong>Will Swannell</strong>
                <a href="#">
                    <small>Not you?</small>
                </a>
            </div>
            <div class="settings">
                <i class="fa fa-cog"></i>

                <ul class="drop-down-menu">
                    <li><a href="#">
                        <i class="fa fa-user"></i>
                        My Account
                    </a></li>
                    <li><a href="#">
                        <i class="fa fa-star"></i>
                        Upgrade
                    </a></li>
                    <li><a href="#">
                        <i class="fa fa-level-up"></i>
                        Referrals
                    </a></li>
                    <li><a href="#">
                        <i class="fa fa-bullhorn"></i>
                        Suggest a Feature
                    </a></li>
                    <li class="divider"><a href="#">
                        <i class="fa fa-wrench"></i>
                        Admin
                    </a></li>
                    <li><a href="#">
                        <i class="fa fa-list-alt"></i>
                        Features
                    </a></li>
                    <li><a href="#">
                        <i class="fa fa-picture-o"></i>
                        Style Guide
                    </a></li>
                    <li class="divider"><a href="#">
                        <i class="fa fa-sign-out"></i>
                        Sign Out
                    </a></li>
                </ul>
            </div>
        </div>

        <ul class="primary">
            <li class="drop-down right">
                <a href="#">
                    <i class="fa fa-home"></i>
                    <span>Venues</span>
                </a>

                <ul class="drop-down-menu">
                    <li><a href="#">All Venues</a></li>
                    <li class="divider"><a href="#">Rotherhite Stations</a></li>
                    <li><a href="#">Finchley Road &amp; Frognal Station</a></li>
                </ul>
            </li>
            <li class="active">
                <a href="#">
                    <i class="fa fa-calendar-o"></i>
                    <span>Enquiries</span>
                </a>
            </li>
            <li class="drop-down right">
                <a href="#">
                    <i class="fa fa-bar-chart"></i>
                    <span>Analytics</span>
                </a>

                <ul class="drop-down-menu">
                    <li><a href="#">Rotherhite Stations</a></li>
                    <li><a href="#">Finchley Road &amp; Frognal Station</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>