.layout-offset-top
  position: absolute
  top: $nav-height
  bottom: 0
  width: 100%

.container-full-screen, .container-narrow
  +clearfix
  @extend .block-center

  width: 100%

.container-narrow
  width: 80%
  max-width: rem(800px)

footer
  color: $color-grey-300
  font-size: rem(12px)
  text-align: center
  padding: $base-unit-layout

  p
    margin: 0 0 $quarter-unit-layout

    &:last-of-type
      margin: 0