<div class="container-narrow margin-top-double">
    {{> progressBar }}

    <header>
        <h1><strong data-bind="text: bookingDataObservable.word">Word</strong> at <span
                data-bind="text: bookingDataObservable.venue.name">Venue</span></h1>
        <small class="label stage" data-bind="text: bookingDataObservable.stage">Stage</small>
    </header>
</div>

<div class="details-bar">
    <ul class="container-narrow">
        <li class="location">
            <i class="icon pin" size="36"></i>
            <strong data-bind="text: bookingDataObservable.venue.name">Venue</strong>
        </li>
        <li class="separator"><span></span></li>
        <li class="budget">
            <i class="icon budget" size="36"></i>
            <strong data-bind="text: bookingDataObservable.budget">Budget</strong>
        </li>
        <li class="separator"><span></span></li>
        <li class="people">
            <i class="icon user" size="36"></i>
            <strong data-bind="text: bookingDataObservable.people">Number of People</strong> people
        </li>
        <li class="separator"><span></span></li>
        <li class="date">
            <i class="icon calendar" size="36"></i>
            <strong data-bind="text: bookingDataObservable.date.startdate">Start Date</strong>
            -
            <strong data-bind="text: bookingDataObservable.date.finishdate">Finish Date</strong>
        </li>
        <li class="separator"><span></span></li>
        <li class="time">
            <i class="icon clock" size="36"></i>
            <strong data-bind="text: bookingDataObservable.time.starttime">Start Time</strong>
            -
            <strong data-bind="text: bookingDataObservable.time.finishtime">Finish Time</strong>
        </li>
    </ul>
</div>

<main class="customer-details container-narrow padding-top-double">
    <aside class="customer col-md-4">
        <img src="/assets/images/avatar/anonymous.png" alt="Anonymous Avatar"/>

        <div class="details">
            <strong data-bind="text: bookingDataObservable.customer.name">Customer Name</strong>
            <small data-bind="text: bookingDataObservable.customer.company">Customer Company</small>
        </div>
    </aside>

    <aside class="message col-md-8">
        <p data-bind="text: bookingDataObservable.message">Message</p>
    </aside>
</main>

<section>
    <nav class="controls container-narrow">
        <div class="row">
            <div class="col-md-4">
                <button class="green large">
                    <span class="toggle-modal" data-toggle-modal="modalCallCustomer"></span>
                    <i class="icon white telephone" size="36"></i>
                    Call James
                </button>
            </div>
            <div class="col-md-4">
                <button class="green large">
                    <span class="toggle-modal" data-toggle-modal="modalEmailCustomer"></span>
                    <i class="icon white envelope" size="36"></i>
                    Email James
                </button>
            </div>
            <div class="col-md-4">
                <button class="green large">
                    <span class="toggle-modal" data-toggle-modal="modalQuickReply"></span>
                    <i class="icon white comment" size="36"></i>
                    Quick Reply
                </button>
            </div>
        </div>
    </nav>
</section>

<div class="container-narrow">
    {{> progressBar }}
</div>

<section>
    <div class="container-narrow">
        <button class="view-more">+1 more</button>
    </div>
</section>

<script>
    // Initial Data
    var initBookingData = {
        "_id": "1a",
        "budget": "3,000",
        "customer": {
            "company": "Company Ltd.",
            "email": "jamessmith@company.co.uk",
            "mobile": "+44 (0) 7894 846483",
            "name": "James Smith",
            "phone": false
        },
        "date": {
            "finishdate": "20 August 2015",
            "flexible": false,
            "startdate": "18 August 2015"
        },
        "message": "We also require overnight bedrooms, breakout rooms and WIFI. We need a registration area too including staffing, badges etc.",
        "people": 20,
        "stage": "New",
        "status": "",
        "suggestedCriteria": {},
        "time": {
            "finishtime": "11:00 pm",
            "flexible": false,
            "starttime": "10:00 am"
        },
        "timeToFollowUp": "Tue Jun 09 2015 15:18:01 GMT+0100 (BST)",
        "venue": {
            "manager": "Paul Frank",
            "name": "The Barbican",
            "team": "The Barbican Team"
        },
        "word": "Conference",
        "internalNote": "Josh copied the details into our internal spreadsheet"
    };
</script>