<div class="container-narrow margin-top-double">
    <div class="progress-bar">
        <div class="bar blue" style="width: 25%"></div>
    </div>

    <header>
        <h1><strong data-bind="text: enquiriesFeedData.word">Conference</strong> at <span>The Barbican</span></h1>
        <small class="label blue">New</small>
    </header>
</div>

<div class="details-bar">
    <ul class="container-narrow">
        <li class="location">
            <i class="icon pin" size="36"></i>
            The Barbican
        </li>
        <li class="separator"><span></span></li>
        <li class="budget">
            <i class="icon budget" size="36"></i>
            3,000
        </li>
        <li class="separator"><span></span></li>
        <li class="people">
            <i class="icon user" size="36"></i>
            20 people
        </li>
        <li class="separator"><span></span></li>
        <li class="date">
            <i class="icon calendar" size="36"></i>
            20 May 2015
        </li>
        <li class="separator"><span></span></li>
        <li class="time">
            <i class="icon clock" size="36"></i>
            10:00 am - 8:00 pm
        </li>
    </ul>
</div>

<main class="container-narrow padding-top-double">
    <p>Lorem ipsum dolor sit amet..</p>
</main>

<section>
    <nav class="controls container-narrow">
        <button class="green large">Call James</button>
        <button class="green large">Email James</button>
        <button class="green large">Quick Reply</button>
    </nav>
</section>