<div class="container-narrow margin-top-double">
    {{> progressBar }}

    <header>
        <h1><strong data-bind="text: enquiriesFeedData.word">Word</strong> at <span
                data-bind="text: enquiriesFeedData.venue.name">Venue</span></h1>
        <small class="label blue" data-bind="text: enquiriesFeedData.status">Status</small>
    </header>
</div>

<div class="details-bar">
    <ul class="container-narrow">
        <li class="location">
            <i class="icon pin" size="36"></i>
            <strong data-bind="text: enquiriesFeedData.venue.name">Venue</strong>
        </li>
        <li class="separator"><span></span></li>
        <li class="budget">
            <i class="icon budget" size="36"></i>
            <strong data-bind="text: enquiriesFeedData.budget">Budget</strong>
        </li>
        <li class="separator"><span></span></li>
        <li class="people">
            <i class="icon user" size="36"></i>
            <strong data-bind="text: enquiriesFeedData.people">Number of People</strong> people
        </li>
        <li class="separator"><span></span></li>
        <li class="date">
            <i class="icon calendar" size="36"></i>
            <strong data-bind="text: enquiriesFeedData.date.startdate">Start Date</strong>
            -
            <strong data-bind="text: enquiriesFeedData.date.finishdate">Finish Date</strong>
        </li>
        <li class="separator"><span></span></li>
        <li class="time">
            <i class="icon clock" size="36"></i>
            <strong data-bind="text: enquiriesFeedData.time.starttime">Start Time</strong>
            -
            <strong data-bind="text: enquiriesFeedData.time.finishtime">Finish Time</strong>
        </li>
    </ul>
</div>

<main class="customer-details container-narrow padding-top-double">
    <aside class="customer col-md-4">
        <img src="/assets/images/avatar/anonymous.png" alt="Anonymous Avatar"/>

        <div class="details">
            <strong data-bind="text: enquiriesFeedData.customer.name">Customer Name</strong>
            <small data-bind="text: enquiriesFeedData.customer.company">Customer Company</small>
        </div>
    </aside>

    <aside class="message col-md-8">
        <p data-bind="text: enquiriesFeedData.message">Message</p>
    </aside>
</main>

<section>
    <nav class="controls container-narrow">
        <div class="row">
            <div class="col-md-4">
                <button class="green large toggle-modal" data-toggle-modal="modalCallCustomer">
                    <i class="icon white telephone" size="36"></i>
                    Call James
                </button>
            </div>
            <div class="col-md-4">
                <button class="green large toggle-modal" data-toggle-modal="modalEmailCustomer">
                    <i class="icon white envelope" size="36"></i>
                    Email James
                </button>
            </div>
            <div class="col-md-4">
                <button class="green large toggle-modal" data-toggle-modal="modalQuickReply">
                    <i class="icon white comment" size="36"></i>
                    Quick Reply
                </button>
            </div>
        </div>
    </nav>
</section>

<div class="container-narrow">
    {{> progressBar }}
</div>

<section>
    <div class="container-narrow">
        <button class="view-more">+1 more</button>
    </div>
</section>

<script>
    // Initial Data
    var initEnquiriesFeedData = {
        _id: '',
        budget: '',
        customer: {
            company: '',
            email: '',
            mobile: '',
            name: '',
            phone: ''
        },
        date: {
            finishdate: '',
            flexible: '',
            startdate: ''
        },
        message: '',
        people: '',
        status: '',
        time: {
            finishtime: '',
            flexible: '',
            starttime: ''
        },
        venue: {
            manager: '',
            name: '',
            team: ''
        },
        word: ''
    };
</script>