{{> navLoggedIn }}

<div class="layout-offset-top">

    {{> enquiriesFeed }}

    <div class="enquiry-actions">
        <div class="container-narrow margin-top-double">
            {{> progressBar }}

            <header>
                <h1><strong hs-bind="bookingData.word">Word</strong> at <span
                        hs-bind="bookingData.venue.name">Venue</span></h1>
                <small hs-class="is-hidden: bookingData.status == 'won' || bookingData.status == 'lost'"
                       class="label stage" hs-bind="bookingData.stage.name">Stage
                </small>
                <small class="label stage hide"
                       hs-class="is-visible: bookingData.status == 'won' || bookingData.status == 'lost'"
                       hs-bind="bookingData.status">Status
                </small>
            </header>
        </div>

        <section class="customer-contact-details" hs-class="is-hidden: bookingData.stage.name == 'New'">
            <div class="container-narrow">
                <div class="row">
                    <div class="col-lg-4 customer-name-company">
                        <strong hs-bind="bookingData.customer.name">Customer Name</strong>
                        <small hs-class="is-visible: bookingData.customer.company"
                               hs-bind="bookingData.customer.company">Customer Company
                        </small>
                    </div>
                    <div class="col-lg-8 customer-tel-email" hs-class="margin-top-half: bookingData.customer.company">
                        <span>
                            <i class="fa fa-phone"></i>
                            <strong hs-bind="bookingData.customer.phone">Telephone Number</strong>
                        </span>
                        <span>
                            <i class="fa fa-envelope-o"></i>
                            <strong hs-bind="bookingData.customer.email">Email Address</strong>
                        </span>
                    </div>
                </div>
            </div>
        </section>

        {{> detailsBar }}

        <main class="customer-details container-narrow padding-top-double"
              hs-class="is-hidden: bookingData.stage.name == 'Needs Archiving'">
            <aside class="hide customer col-md-4" hs-class="is-visible: bookingData.stage.name == 'New'">
                <div class="avatar-anonymous"></div>

                <div class="details" hs-class="padding-top-quarter: bookingData.customer.company">
                    <strong hs-bind="bookingData.customer.name">Customer Name</strong>
                    <small hs-class="is-visible: bookingData.customer.company"
                           hs-bind="bookingData.customer.company">Customer Company
                    </small>
                </div>
            </aside>

            <aside class="message" hs-class="col-md-8: bookingData.stage.name == 'New'">
                <p hs-bind="bookingData.message" id="showFullMessageContainer" hs-class="show-more: bookingData.messageExceedsLimit == true">
                    Message not supplied. Please contact customer.
                </p>
                <button class="large flat-grey hide" id="showFullMessage" hs-class="is-visible: bookingData.messageExceedsLimit == true">Show more</button>
            </aside>
        </main>

        <section class="hide confirm-status"
                 hs-class="is-visible: bookingData.stage.option == 'confirmed' || bookingData.status == 'won'">
            <div class="container-narrow">
                <h5 class="text-center margin-bottom-double" hs-class="is-hidden: bookingData.status == 'won'">Please
                    confirm the customer's spend to archive enquiry</h5>

                <div class="row confirm-spend">
                    <div class="col-md-4 hide" hs-class="is-visible: bookingData.stage.option == 'confirmed'">
                        <input type="text" placeholder="Confirm spend ex. VAT"/>
                    </div>

                    <div class="col-md-4 hide" hs-class="is-visible: bookingData.status == 'won'">
                        <input type="text" disabled placeholder="Confirmed spend ex. VAT"
                               hs-bind="bookingData.stage.option.price"/>
                    </div>

                    <div class="col-md-8">
                        <ul class="tabs" hs-class="disabled: bookingData.status == 'won'">
                            <li data-value="Min"
                                hs-class="active: bookingData.stage.option.priceType == 'Min'">
                                <span>Minimum spend</span></li>
                            <li data-value="Rou"
                                hs-class="active: bookingData.stage.option.priceType == 'Rou'">
                                <span>Rough total</span></li>
                            <li data-value="Fin"
                                hs-class="active: bookingData.stage.option.priceType == 'Fin'">
                                <span>Final spend</span></li>
                        </ul>
                    </div>
                </div>

                <button class="large green block margin-top-base hs-to-step archive"
                        hs-class="is-hidden: bookingData.status == 'won'"
                        update="status: 'won'">Archive enquiry
                </button>
            </div>
        </section>

        <section class="hide confirm-status"
                 hs-class="is-visible: bookingData.stage.option == 'closed' || bookingData.status == 'lost'">
            <div class="container-narrow confirm-reason-lost">
                <h5 class="text-center margin-bottom-double" hs-class="is-hidden: bookingData.status == 'lost'">Tell
                    Hire Space why this enquiry has been closed to Archive enquiry</h5>

                <ul class="tabs" hs-class="disabled: bookingData.status == 'lost'">
                    <li data-value="no-availability"
                        hs-class="active: bookingData.stage.option.reasonLost == 'no-availability'">
                        <span>No availability</span></li>
                    <li data-value="customer-went-elsewhere"
                        hs-class="active: bookingData.stage.option.reasonLost == 'customer-went-elsewhere'">
                        <span>Customer went elsewhere</span>
                    </li>
                    <li data-value="never-heard-back"
                        hs-class="active: bookingData.stage.option.reasonLost == 'never-heard-back'">
                        <span>Never heard back</span>
                    </li>
                    <li data-value="unsuitable-enquiry"
                        hs-class="active: bookingData.stage.option.reasonLost == 'unsuitable-enquiry'">
                        <span>Unsuitable enquiry</span>
                    </li>
                    <li data-value="other"
                        hs-class="active: bookingData.stage.option.reasonLost == 'other'">
                        <span>Other</span></li>
                </ul>

                <button class="large green block margin-top-base hs-to-step archive"
                        hs-class="is-hidden: bookingData.status == 'lost'"
                        update="status: 'lost'">Archive enquiry
                </button>
            </div>
        </section>

        <section class="hide" hs-class="is-visible: bookingData.stage.name == 'New'">
            <nav class="controls container-narrow">
                <div class="row">
                    <div class="col-sm-4">
                        <button class="green large">
                            <span hs-modal="modalCallCustomer"></span>
                            <i class="white fa fa-phone"></i>
                            Call <strong hs-bind="bookingData.customer.firstName">First Name</strong>
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button class="green large">
                            <span hs-modal="modalEmailCustomer"></span>
                            <i class="white fa fa-envelope-o"></i>
                            Email <strong hs-bind="bookingData.customer.firstName">First Name</strong>
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button class="green large">
                            <span hs-modal="modalQuickReply"></span>
                            <i class="white fa fa-reply"></i>
                            Quick Reply
                        </button>
                    </div>
                </div>
            </nav>
        </section>

        <section class="venue-manager-actions">
            <div class="container-narrow">
                {{> progressBar }}

                <!--<button data-toggle-view="show: bookingData.stage == 'New'" class="large flat-grey block">-->
                <!--+1 more-->
                <!--</button>-->

                <div class="update-hirespace hide" hs-class="is-visible: bookingData.stage.name == 'In Progress'">
                    <button hs-toggle='["updateHireSpaceButtons", "showUpdateHireSpaceButtons"]'
                            class="large flat-grey block" id="showUpdateHireSpaceButtons">
                        Show Update Hire Space buttons
                    </button>

                    <div class="row is-hidden" id="updateHireSpaceButtons">
                        <div class="col-md-4">
                            <button hs-toggle='["updateHireSpaceButtons", "showUpdateHireSpaceButtons"]'
                                    class="large green block hs-to-step"
                                    update="needsArchivingStatus: 'confirmed'">Confirm
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button hs-toggle='["updateHireSpaceButtons", "showUpdateHireSpaceButtons"]'
                                    class="large black block hs-to-step"
                                    update="needsArchivingStatus: 'closed'">Close
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button hs-toggle='["updateHireSpaceButtons", "showUpdateHireSpaceButtons"]'
                                    class="large flat-grey block hs-to-step"
                                    update="timeToFollowUp: true">Update Later
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section hs-class="is-hidden: bookingData.stage.name == 'New' || bookingData.stage.name == 'In Progress'">
            <div class="internal-note container-narrow">
                <button class="flat-grey large block hs-to-step"
                        update="reopen: true">
                    Re-open
                </button>
            </div>

            <!--Temporarily hide until v2-->
            <div class="internal-note container-narrow is-hidden">
                <div class="pull-left">
                    <button class="black"
                            hs-class="is-hidden: bookingData.stage.name == 'Needs Archiving' || bookingData.stage.name == 'Archived'">
                        Suggest edits
                    </button>
                    <button class="flat-grey hs-to-step hide"
                            hs-class="is-visible: bookingData.stage.name == 'Needs Archiving' || bookingData.stage.name == 'Archived'"
                            update="reopen: true">
                        Re-open
                    </button>
                </div>

                <div class="pull-right">
                    <label for="internal-note">Leave an internal note</label>
                    <input id="internal-note" type="text" placeholder="Text here..."/>

                    <button class="black">Save</button>
                </div>
            </div>
        </section>

        <footer>
            <p>Any feedback or problems - give Nina a shout at <a
                    href="mailto:janina@hirespace.com">janina@hirespace.com</a> or <strong>0207 099 2512</strong>.</p>
            <p>&copy; 2015, Hire Space Website Limited</p>
        </footer>
    </div>

</div>

<script>
    // Initial Data
    var initBookingData = {
        "_id": "BBX54hYWFmofZYgAB",
        "budget": 120,
        "customer": {
            "_id": "fhujvLKi5ciQAy4g3",
            "name": "Valerie Selman",
            "mobile": "447801721181",
            "email": "mail@valerieselman.plus.com",
            "phone": "0208 416 3655"
        },
        "date": {
            "flexible": false,
            "startdate": "07/06/2015"
        },
        "message": "Looking for a space to hold regular dance classes, preferably three times a week but is flexible - keen to speak and discuss whatever availability you have. Will need the space from 6pm-10pm, needs to be at least 8.5m x 8.5m. We&#39;d like to start from w/c 8th June.",
        "people": "",
        "stage": {
            "name": "New"
        },
        "status": "Pending",
        "time": {
            "finishtime": "",
            "flexible": false,
            "starttime": ""
        },
        "timeToFollowUp": "24 July 15",
        "venue": {
            "manager": "William Swanell",
            "name": "The Venue @ Pimlico Academy",
            "spaceName": "Dance and Drama Studio (Small)"
        },
        "word": "Dance Classes",
        "guid": "79c62b0f-6b32-42ed-a65d-29ebb4f9a25c"
    };
</script>
