{{> navLoggedIn }}

<div class="layout-offset-top">

    {{> enquiriesFeed }}

    <div class="enquiry-actions">
        <div class="container-narrow margin-top-double">
            {{> progressBar }}

            <header>
                <h1><strong hs-bind="bookingData.word">Word</strong> at <span
                        hs-bind="bookingData.venue.name">Venue</span></h1>
                <small class="label stage" hs-bind="bookingData.stage.name">Stage</small>
            </header>
        </div>

        <section class="customer-contact-details" hs-class="is-hidden: bookingData.stage.name == 'New'">
            <div class="container-narrow">
                <!--<i class="fa fa-user"></i>-->
                <strong class="customer-name">
                    <span hs-bind="bookingData.customer.name">Customer Name</span>
                    <small hs-bind="bookingData.customer.company">Customer Company</small>
                </strong>
                <i class="fa fa-phone"></i>
                <strong hs-bind="bookingData.customer.phone">Telephone Number</strong>
                <i class="fa fa-envelope-o"></i>
                <strong hs-bind="bookingData.customer.email">Email Address</strong>
            </div>
        </section>

        {{> detailsBar }}

        <main class="customer-details container-narrow padding-top-double"
              hs-class="is-hidden: bookingData.stage.name == 'Needs Archiving'">
            <aside class="hide customer col-sm-4" hs-class="is-visible: bookingData.stage.name == 'New'">
                <div class="avatar-anonymous"></div>

                <div class="details">
                    <strong hs-bind="bookingData.customer.name">Customer Name</strong>
                    <small hs-bind="bookingData.customer.company">Customer Company</small>
                </div>
            </aside>

            <aside class="message" hs-class="col-sm-8: bookingData.stage.name == 'New'">
                <p hs-bind="bookingData.message">Message</p>
            </aside>
        </main>

        <section class="hide confirm-status"
                 hs-class="is-visible: bookingData.stage.option == 'confirmed' || bookingData.status == 'won'">
            <div class="container-narrow">
                <h5 class="text-center margin-bottom-double" hs-class="is-hidden: bookingData.status == 'won'">Please
                    confirm your spend</h5>

                <div class="row confirm-spend">
                    <div class="col-md-4 hide" hs-class="is-visible: bookingData.stage.option == 'confirmed'">
                        <input type="text" placeholder="Confirm spend ex. VAT"/>
                    </div>

                    <div class="col-md-4 hide" hs-class="is-visible: bookingData.status == 'won'">
                        <input type="text" disabled placeholder="Confirmed spend ex. VAT"
                               hs-bind="bookingData.stage.option.price"/>
                    </div>

                    <div class="col-md-8">
                        <ul class="tabs">
                            <li data-value="Min"
                                hs-class="active: bookingData.stage.option.priceType == 'Min'">
                                <span>Minimum spend</span></li>
                            <li data-value="Rou"
                                hs-class="active: bookingData.stage.option.priceType == 'Rou'">
                                <span>Rough total</span></li>
                            <li data-value="Fin"
                                hs-class="active: bookingData.stage.option.priceType == 'Fin'">
                                <span>Final spend</span></li>
                        </ul>
                    </div>
                </div>

                <button class="large green block margin-top-base hs-to-step archive"
                        hs-class="is-hidden: bookingData.status == 'won'"
                        update="status: 'won'">Archive enquiry
                </button>
            </div>
        </section>

        <section class="hide confirm-status"
                 hs-class="is-visible: bookingData.stage.option == 'closed' || bookingData.status == 'lost'">
            <div class="container-narrow confirm-reason-lost">
                <h5 class="text-center margin-bottom-double" hs-class="is-hidden: bookingData.status == 'lost'">Tell
                    Hire Space why this enquiry has been closed</h5>

                <ul class="tabs">
                    <li data-value="no-availability"
                        hs-class="active: bookingData.stage.option.reasonLost == 'no-availability'">
                        <span>No availability</span></li>
                    <li data-value="customer-went-elsewhere"
                        hs-class="active: bookingData.stage.option.reasonLost == 'customer-went-elsewhere'">
                        <span>Customer went elsewhere</span>
                    </li>
                    <li data-value="never-heard-back"
                        hs-class="active: bookingData.stage.option.reasonLost == 'never-heard-back'">
                        <span>Never heard back</span>
                    </li>
                    <li data-value="unsuitable-enquiry"
                        hs-class="active: bookingData.stage.option.reasonLost == 'unsuitable-enquiry'">
                        <span>Unsuitable enquiry</span>
                    </li>
                    <li data-value="other"
                        hs-class="active: bookingData.stage.option.reasonLost == 'other'">
                        <span>Other</span></li>
                </ul>

                <button class="large green block margin-top-base hs-to-step archive"
                        hs-class="is-hidden: bookingData.status == 'lost'"
                        update="status: 'lost'">Archive enquiry
                </button>
            </div>
        </section>

        <section class="hide" hs-class="is-visible: bookingData.stage.name == 'New'">
            <nav class="controls container-narrow">
                <div class="row">
                    <div class="col-sm-4">
                        <button class="green large">
                            <span hs-modal="modalCallCustomer"></span>
                            <i class="white fa fa-phone"></i>
                            Call <strong hs-bind="bookingData.customer.firstName">First Name</strong>
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button class="green large">
                            <span hs-modal="modalEmailCustomer"></span>
                            <i class="white fa fa-envelope-o"></i>
                            Email <strong hs-bind="bookingData.customer.firstName">First Name</strong>
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button class="green large">
                            <span hs-modal="modalQuickReply"></span>
                            <i class="white fa fa-reply"></i>
                            Quick Reply
                        </button>
                    </div>
                </div>
            </nav>
        </section>

        <section class="venue-manager-actions">
            <div class="container-narrow">
                {{> progressBar }}

                <!--<button data-toggle-view="show: bookingData.stage == 'New'" class="large flat-grey block">-->
                <!--+1 more-->
                <!--</button>-->

                <div class="update-hirespace hide" hs-class="is-visible: bookingData.stage.name == 'In Progress'">
                    <button hs-toggle='["updateHireSpaceButtons", "showUpdateHireSpaceButtons"]'
                            class="large flat-grey block" id="showUpdateHireSpaceButtons">
                        Show Update Hire Space buttons
                    </button>

                    <div class="row is-hidden" id="updateHireSpaceButtons">
                        <div class="col-md-4">
                            <button class="large green block hs-to-step"
                                    update="needsArchivingStatus: 'confirmed'">Confirm
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button class="large black block hs-to-step"
                                    update="needsArchivingStatus: 'closed'">Close
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button hs-toggle='["updateHireSpaceButtons", "showUpdateHireSpaceButtons"]'
                                    class="large flat-grey block hs-to-step"
                                    update="timeToFollowUp: true">Update Later
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section hs-class="is-hidden: bookingData.stage.name == 'New'">
            <div class="internal-note container-narrow">
                <div class="pull-left">
                    <button class="black"
                            hs-class="is-hidden: bookingData.stage.name == 'Needs Archiving' || bookingData.stage.name == 'Archived'">
                        Suggest edits
                    </button>
                    <button class="flat-grey hs-to-step hide"
                            hs-class="is-visible: bookingData.stage.name == 'Needs Archiving' || bookingData.stage.name == 'Archived'"
                            update="reopen: true">
                        Re-open
                    </button>
                </div>

                <div class="pull-right">
                    <label for="internal-note">Leave an internal note</label>
                    <input id="internal-note" type="text" placeholder="Text here..."/>

                    <button class="black">Save</button>
                </div>
            </div>
        </section>

        <footer>
            &copy; 2015, Hire Space Website Limited
        </footer>
    </div>

</div>

<script>
    // Initial Data
    var initBookingData = {
        "_id": "2WscqXhWtbhwxTWhs",
        "budget": 150,
        "customer": {
            "_id": "pyzp6XLfzXe74oNZS",
            "phone": "02074231061",
            "name": "Louise Oakley",
            "email": "louise.oakley@alzheimers.org.uk"
        },
        "date": {
            "startdate": "2015-06-16T10:00:00.000Z"
        },
        "guid": "9ab2da75-a152-4ef8-a953-70c737e39ea5",
        "message": "Team meeting - 8 people, just discussions.\r\nFrom a charity - Alzheimers Society so any discounts much appreciated.",
        "people": 8,
        "stage": {
            "name": "New"
        },
        "status": "pending",
        "suggestedCriteria": {
            "people": 20
        },
        "time": {
            "finishtime": "16:00",
            "starttime": "10:00"
        },
        "timeToFollowUp": "2015-07-08T10:08:16.643Z",
        "venue": {
            "manager": "Workspace ",
            "name": "Pill Box",
            "spaceName": "Allen"
        },
        "word": "Alzheimers Society Meeting"
    };
</script>