<header>
    <div class="container photo">
        <div class="row head">
            <div class="col-xs-5 col-md-2 logo">
                <span>UK's #1 venue marketplace</span>
            </div>

            <div class="col-xs-7 col-md-4 col-xs-offset-0 col-md-offset-6">
                <button class="inverted">Ask Venue Expert</button>
                <button class="classic">Search</button>
            </div>
        </div>

        <div class="row floating-spans">
            <p><strong>Christmas Party Venues London</strong><br />
                Find and Book London Christmas Venues</p>
        </div>
    </div>
</header>

<section class="breadcrumb">
    <div class="container">
        <div class="row">
            <a>Hire Space</a> <span>&#8594;</span> <a>London</a> <span>&#8594;</span> <strong>Christmas Party Venues</strong>
        </div>
    </div>
</section>

<section class="main">
    <div class="container">
        <div class="row search box">
            <div class="col-md-3">
                <input type="text" placeholder="Area of London"/>
            </div>
            <div class="col-md-3 budget">
                <span>&pound;</span>
                <input type="text" placeholder="Total event budget"/>
            </div>
            <div class="col-md-2">
                <input type="text" placeholder="Number of people"/>
            </div>
            <div class="col-md-4">
                <button class="green">Search all Christmas Party Venues</button>
            </div>
        </div>

        <!-- Left Column -->
        <div class="col-md-7 left">
            <div class="box">
                <h3>Recommended Venues</h3>

                <div class="venue">
                    <h5>Guy Fawkes at London Dungeon</h5>
                    <img src="https://hirespacestoragelive.blob.core.windows.net/spaces/ba-xxxl/9849/ymuxx1nnu3a.jpg"/>
                    <div class="overlay">
                        <i class="fa fa-map-marker"></i> Kensington
                        <i class="fa fa-th-large"></i> 220 ft sq
                        <i class="fa fa-wheelchair"></i> Disabled Access
                    </div>
                    <p>The London Dungeon Guy Fawkes show set is available for evening hire, and is perfect for private and coorporate events where you can impress your guests with some blah de blah dskfj  fsd fjsd sdsdfsd fsdjfds fsd fsd </p>

                    <div class="price">
                        <div class="col-md-5">
                            From <span>£90</span> per person
                        </div>
                        <div class="col-md-7">
                            <button class="green">See more features, capacity and info</button>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="venue">
                    <h5>Guy Fawkes at London Dungeon</h5>
                    <img src="https://hirespacestoragelive.blob.core.windows.net/spaces/ba-xxxl/9849/ymuxx1nnu3a.jpg"/>
                    <div class="overlay">
                        <i class="fa fa-map-marker"></i> Kensington
                        <i class="fa fa-th-large"></i> 220 ft sq
                        <i class="fa fa-wheelchair"></i> Disabled Access
                    </div>
                    <p>The London Dungeon Guy Fawkes show set is available for evening hire, and is perfect for private and coorporate events where you can impress your guests with some blah de blah dskfj  fsd fjsd sdsdfsd fsdjfds fsd fsd </p>

                    <div class="price">
                        <div class="col-md-5">
                            From <span>£90</span> per person
                        </div>
                        <div class="col-md-7">
                            <button class="green">See more features, capacity and info</button>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="venue">
                    <h5>Guy Fawkes at London Dungeon</h5>
                    <img src="https://hirespacestoragelive.blob.core.windows.net/spaces/ba-xxxl/9849/ymuxx1nnu3a.jpg"/>
                    <div class="overlay">
                        <i class="fa fa-map-marker"></i> Kensington
                        <i class="fa fa-th-large"></i> 220 ft sq
                        <i class="fa fa-wheelchair"></i> Disabled Access
                    </div>
                    <p>The London Dungeon Guy Fawkes show set is available for evening hire, and is perfect for private and coorporate events where you can impress your guests with some blah de blah dskfj  fsd fjsd sdsdfsd fsdjfds fsd fsd </p>

                    <div class="price">
                        <div class="col-md-5">
                            From <span>£90</span> per person
                        </div>
                        <div class="col-md-7">
                            <button class="green">See more features, capacity and info</button>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="venue">
                    <h5>Guy Fawkes at London Dungeon</h5>
                    <img src="https://hirespacestoragelive.blob.core.windows.net/spaces/ba-xxxl/9849/ymuxx1nnu3a.jpg"/>
                    <div class="overlay">
                        <i class="fa fa-map-marker"></i> Kensington
                        <i class="fa fa-th-large"></i> 220 ft sq
                        <i class="fa fa-wheelchair"></i> Disabled Access
                    </div>
                    <p>The London Dungeon Guy Fawkes show set is available for evening hire, and is perfect for private and coorporate events where you can impress your guests with some blah de blah dskfj  fsd fjsd sdsdfsd fsdjfds fsd fsd </p>

                    <div class="price">
                        <div class="col-md-5">
                            From <span>£90</span> per person
                        </div>
                        <div class="col-md-7">
                            <button class="green">See more features, capacity and info</button>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="venue">
                    <h5>Guy Fawkes at London Dungeon</h5>
                    <img src="https://hirespacestoragelive.blob.core.windows.net/spaces/ba-xxxl/9849/ymuxx1nnu3a.jpg"/>
                    <div class="overlay">
                        <i class="fa fa-map-marker"></i> Kensington
                        <i class="fa fa-th-large"></i> 220 ft sq
                        <i class="fa fa-wheelchair"></i> Disabled Access
                    </div>
                    <p>The London Dungeon Guy Fawkes show set is available for evening hire, and is perfect for private and coorporate events where you can impress your guests with some blah de blah dskfj  fsd fjsd sdsdfsd fsdjfds fsd fsd </p>

                    <div class="price">
                        <div class="col-md-5">
                            From <span>£90</span> per person
                        </div>
                        <div class="col-md-7">
                            <button class="green">See more features, capacity and info</button>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="venue">
                    <h5>Guy Fawkes at London Dungeon</h5>
                    <img src="https://hirespacestoragelive.blob.core.windows.net/spaces/ba-xxxl/9849/ymuxx1nnu3a.jpg"/>
                    <div class="overlay">
                        <i class="fa fa-map-marker"></i> Kensington
                        <i class="fa fa-th-large"></i> 220 ft sq
                        <i class="fa fa-wheelchair"></i> Disabled Access
                    </div>
                    <p>The London Dungeon Guy Fawkes show set is available for evening hire, and is perfect for private and coorporate events where you can impress your guests with some blah de blah dskfj  fsd fjsd sdsdfsd fsdjfds fsd fsd </p>
                    
                    <div class="price">
                        <div class="col-md-5">
                            From <span>£90</span> per person
                        </div>
                        <div class="col-md-7">
                            <button class="green">See more features, capacity and info</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Right Column -->
        <div class="col-md-5 right">
            <!-- Map -->
            <div class="box map">
                <div id="map-canvas" class="map"></div>
                <button class="green">Find all Christmas Venues &#8594;</button>
            </div>

            <div class="box about">
                <h5>About Christmas Party Venues</h5>
                <p>
                    London's Christmas party venues for hire are unique and varied, offering a a huge range of choice for the customer. We love unique venues at Hire Space, and those which go the extra mile. Many will do a great deal on catering and entertainment too. Take your pick from the largest, most diverse selection in the capital, and contact them directly through Hire Space to receive a personalised quote from the venue's Christmas parties team. Need a few more options? Contact our own experienced venue experts using the RFP form above. You'll receive tailored suggestions with best prices negotiated, and all for free.
                </p>
                <div class="row">
                    <div class="col-md-8 no-padding">
                        <div class="col-xs-1 col-md-3 no-padding">
                            <img src="https://hirespace.com/img/content/The-Team-TomH.jpg" />
                        </div>
                        <div class="col-xs-7 col-md-8 no-padding">
                            <strong>Tom Hammond</strong> <br />
                            <span>Venue Expert</span>
                        </div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <button class="green">Ask Tom</button>
                    </div>
                </div>
            </div>

            <div class="box blog">
                <h5>Recent Blog Posts</h5>

                <div class="row no-padding">
                    <div class="col-xs-1 col-md-1">
                        <h5>1.</h5>
                    </div>
                    <div class="col-xs-11 col-md-11">
                        <strong>
                            Unique Venue of the Month
                        </strong>
                        <span>
                            1 October 2015
                        </span>
                    </div>
                </div>
                <hr />
                <div class="row no-padding">
                    <div class="col-xs-1 col-md-1">
                        <h5>2.</h5>
                    </div>
                    <div class="col-xs-11 col-md-11">
                        <strong>
                            7 Halloween Party Ideas
                        </strong>
                        <span>
                            24 September 2015
                        </span>
                    </div>
                </div>
                <hr />
                <div class="row no-padding">
                    <div class="col-xs-1 col-md-1">
                        <h5>3.</h5>
                    </div>
                    <div class="col-xs-11 col-md-11">
                        <strong>
                            Hire Space Team Picks: 7 Venues For Something
                        </strong>
                        <span>
                            23 September 2015
                        </span>
                    </div>
                </div>

                <button class="green">See more blog posts from Hire Space</button>
            </div>

            <div class="box reviews">
                <h5>What People Say about Hire Space</h5>
                <div class="row no-padding">
                    <div class="col-xs-1 col-md-2 no-padding">
                        <img src="https://hirespace.com/img/content/The-Team-TomH.jpg" />
                    </div>
                    <div class="col-xs-10 col-md-9 no-padding">
                        <p>
                            Unrivalled venue options and exceptional customer service! Highly recommended.
                        </p>
                        <strong>Ben Kiziltug</strong>
                        <span>Stack Overflow</span>
                    </div>
                </div>
                <hr />
                <div class="row no-padding">
                    <div class="col-xs-1 col-md-2 no-padding">
                        <img src="https://hirespace.com/img/content/The-Team-TomH.jpg" />
                    </div>
                    <div class="col-xs-10 col-md-9 no-padding">
                        <p>
                            Found us a venue that was perfect for our needs and under our budget... Would definitely recommend!
                        </p>
                        <strong>Vereena Skilton</strong>
                        <span>Kornferry</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="bottom">
    <div class="container">
        <div class="row">
            <button class="button green">See All Christmas Party Venues</button>
        </div>
    </div>
</section>

{{> footer }}






<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa30-3IjJGFa20dPn91H-aUMnkeZrHdC8&sensor=true"></script>
<script>
    // initialise info window
    var infoWindow;

    var bounds = new google.maps.LatLngBounds();

    var markers = {};
    var map;

    // function to create map
    var initialize = function () {

        var mapOptions = {
            // center on uk
            center: new google.maps.LatLng(55.3617609, 3.4433238),
            zoom: 14,
            disableDefaultUI: true,
            zoomControl: true,
            zoomControlOptions: {
                position: google.maps.ControlPosition.LEFT_CENTER
            }

        };

        map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);

        // create markers
        /*$.each(spaces, function (i, space) {
            var newMarker = createMarker(space, map);

            if (newMarker != null) {

                markers[space.UsageId] = newMarker;
            }
        });*/

        // if user clicks away from info window, close info window
        google.maps.event.addListener(map, 'click', function () {

            if (infoWindow)
                infoWindow.close();
        });

        map.fitBounds(bounds);
        //set center to center of all the points
        map.setCenter(bounds.getCenter());
    };

    // work out price type
    var priceType = function(bestPrice) {
        var typeString = '';

        if (bestPrice.PricingStructureType == 2)
            typeString += 'min spend ';

        if (bestPrice.PricingByDelegateType == 2)
            typeString += 'pp';

        switch (bestPrice.PricingByTimeType) {
            case 1:
                typeString += '';
                break;
            case 2:
                typeString += '/hr';
                break;
            case 3:
                typeString += '/day';
                break;
        }

        return typeString;
    };

    // add a marker to the map for a particular space
    var createMarker = function (item, map) {

        var priceString = item.BestPrice != null && item.BestPrice.Price != null ? ' Price from £' + item.BestPrice.Price : '';

        if (item.BestPrice != null)
            priceString += ' ' + item.PriceType + priceType(item.BestPrice);

        var itemLocation = new google.maps.LatLng(item.Latitude, item.Longitude);
        bounds.extend(itemLocation);
        var newMarker = new google.maps.Marker({
            position: itemLocation,
            draggable: false,
            map: map,
            icon: greenIcon(),
            title: item.SpaceName + " at " + item.VenueName + '.' + priceString
        });

        // when a marker is clicked, open info window with the details for that space
        google.maps.event.addListener(newMarker, 'click', function () {

            // close info window if already existent
            if (infoWindow)
                infoWindow.close();

            var latLng = newMarker.getPosition();
            map.panTo(latLng);

            // track whether IE
            var version = window.navigator.userAgent.indexOf('MSIE ');
            var isIE = version > 0;

            if (isIE || !window.matchMedia("(max-width: 980px)").matches) {
                // only add if on a desktop
                // update info window
                var img = "";
                if (item.DefaultImage.length > 57) {
                    img = '<img class="img-info-box" src="' + item.DefaultImage + '"/>';
                }

                var contentString = '<div class="search-info-box">' + img + '<p><b>' + item.SpaceName + ' at ' + item.VenueName + '</b></p>';

                if (item.BestPrice != null) {
                    contentString += '<p>from <span class="usage-space-cost">£' + item.BestPrice.Price + ' ' + priceType(item.BestPrice) + '</span> ';
                    contentString += '</p>';
                }

                contentString += '<a class="btn btn-sm btn-primary" href="' + item.LinkUrl + '">See more</a></div>',

                        infoWindow = new google.maps.InfoWindow({
                            content: contentString,
                            maxWidth: 200
                        });

                // show info window
                infoWindow.open(map, newMarker);
            }

        });

        return newMarker;


        return null;

    };
    /*
    $(function () {
        initialize();

        $(document).on('mouseover', '[data-role=showmap]', function () {
            showOnMap($(this).attr('data-id'), markers);
        });

        $(document).on('mouseout', '[data-role=showmap]', function () {
            hideOnMap($(this).attr('data-id'), markers);
        });
    });*/
    google.maps.event.addDomListener(window, "load", initialize);
</script>