<div class="details-bar">
    <div class="thank-you-message container-narrow"
         toggle-class="is-visible: bookingData.stage.option == 'confirmed'">
        <img src="/assets/images/dummy/avatar-anonymous.png" alt="Anonymous Avatar"/>
        <strong toggle-class="is-hidden: bookingData.status == 'lost'">Wohoo! Thanks for letting us know that <span
                data-bind="text: bookingDataObservable.customer.name">Customer Name</span>'s
            enquiry has been confirmed.</strong>
        <strong toggle-class="is-hidden: bookingData.stage.option == 'confirmed'"><span
                data-bind="text: bookingDataObservable.customer.name">Customer Name</span>'s enquiry has been
            closed.</strong>
    </div>

    <ul class="container-narrow"
        toggle-class="is-hidden: bookingData.stage.name == 'Needs Archiving' || bookingData.stage.name == 'Archived'">
        <li class="location">
            <i class="fa fa-map-marker"></i>
            <strong data-bind="text: bookingDataObservable.venue.spaceName">Space Name</strong>
        </li>
        <li class="separator"><span></span></li>
        <li class="date">
            <i class="fa fa-calendar"></i>
            <strong data-bind="text: bookingDataObservable.date.startdate">Start Date</strong>
            -
            <strong data-bind="text: bookingDataObservable.date.finishdate">Finish Date</strong>
        </li>
        <li class="separator"><span></span></li>
        <li class="budget">
            <i class="fa fa-gbp"></i>
            <strong data-bind="text: bookingDataObservable.budget">Budget</strong>
        </li>
        <li class="separator"><span></span></li>
        <li class="people">
            <i class="fa fa-user"></i>
            <strong data-bind="text: bookingDataObservable.people">Number of People</strong> people
        </li>
        <li class="separator"><span></span></li>
        <li class="time">
            <i class="fa fa-clock-o"></i>
            <strong data-bind="text: bookingDataObservable.time.starttime">Start Time</strong>
            -
            <strong data-bind="text: bookingDataObservable.time.finishtime">Finish Time</strong>
        </li>
    </ul>
</div>