<div class="details-bar">
    <ul class="container-narrow">
        <li class="location">
            <!--<a href="#"><i class="fa fa-pencil"></i> Edit</a>-->
            <i class="fa fa-map-marker"></i>
            <strong hs-bind="bookingData.venue.spaceName">Space Name</strong>
        </li>
        <li class="separator"><span></span></li>
        <li class="date">
            <a href="#" hs-modal="modalSuggestEdits"><i class="fa fa-pencil"></i> Edit</a>
            <em hs-class="is-visible: bookingData.date.flexible == true" class="hide is-flexible">
                <i class="fa fa-check"></i>
                Flexible</em>
            <!--<em hs-class="is-hidden: bookingData.date.flexible == true" class="is-flexible">-->
                <!--<i class="fa fa-times"></i>-->
                <!--Not Flexible</em>-->

            <i class="fa fa-calendar"></i>
            <strong class="hide" hs-class="show-inline: bookingData.date.startdate" hs-bind="bookingData.date.startdate | date">N/A</strong>
            <span class="hide" hs-class="show-inline: bookingData.date.startdate && bookingData.date.finishdate">-</span>
            <strong class="hide" hs-class="show-inline: bookingData.date.finishdate" hs-bind="bookingData.date.finishdate | date">N/A</strong>
        </li>
        <li class="separator"><span></span></li>
        <li class="budget">
            <a href="#" hs-modal="modalSuggestEdits"><i class="fa fa-pencil"></i> Edit</a>
            <i class="fa fa-gbp"></i>
            <strong class="hide" hs-class="show-inline: bookingData.budget == 0">N/A</strong>
            <strong hs-class="is-hidden: bookingData.budget == 0" hs-bind="bookingData.budget">N/A</strong>
        </li>
        <li class="separator"><span></span></li>
        <li class="people">
            <a href="#" hs-modal="modalSuggestEdits"><i class="fa fa-pencil"></i> Edit</a>
            <i class="fa fa-user"></i>
            <strong class="hide" hs-class="show-inline: bookingData.people == 0">N/A</strong>
            <span hs-class="is-hidden: bookingData.people == 0">
                <strong hs-bind="bookingData.people">N/A</strong> people
            </span>
        </li>
        <li class="separator"><span></span></li>
        <li class="time">
            <a href="#" hs-modal="modalSuggestEdits"><i class="fa fa-pencil"></i> Edit</a>
            <em hs-class="is-visible: bookingData.time.flexible == true" class="hide is-flexible">
                <i class="fa fa-check"></i>
                Flexible</em>
            <!--<em hs-class="is-hidden: bookingData.time.flexible == true" class="is-flexible">-->
                <!--<i class="fa fa-times"></i>-->
                <!--Not Flexible</em>-->

            <i class="fa fa-clock-o"></i>
            <strong class="hide" hs-class="show-inline: bookingData.time.starttime" hs-bind="bookingData.time.starttime">N/A</strong>
            <span class="hide" hs-class="show-inline: bookingData.time.starttime && bookingData.time.finishtime">-</span>
            <strong class="hide" hs-class="show-inline: bookingData.time.finishtime" hs-bind="bookingData.time.finishtime">N/A</strong>
        </li>
    </ul>
</div>

<div class="thank-you-message voided" hs-class="is-visible: bookingData.status == 'void'">
    Woops! This enquiry has been voided. Please contact
    <a href="mailto:janina@hirespace.com">janina@hirespace.com</a> for more details.
</div>

<div class="thank-you-message"
     hs-class="is-visible: bookingData.stage.option == 'confirmed' || bookingData.stage.option == 'closed' || bookingData.stage.name == 'Archived', is-hidden: bookingData.status == 'void'">
    <div class="avatar-anonymous"></div>
    <strong hs-class="show-inline-block: bookingData.stage.option.priceType == 'Min', is-hidden: bookingData.stage.option.reasonLost">
        We will follow up after the event has happened to record the customer's final spend.
    </strong>
    <strong hs-class="show-inline-block: bookingData.stage.option == 'confirmed', is-hidden: bookingData.stage.option.priceType == 'Min'">
        Wohoo! Great to see that <span hs-bind="bookingData.customer.name">Customer Name</span>'s enquiry has been confirmed.
    </strong>
    <strong hs-class="show-inline-block: bookingData.status == 'won', is-hidden: bookingData.stage.option.priceType == 'Min'">
        This enquiry has been marked as confirmed.
    </strong>
    <strong hs-class="show-inline-block: bookingData.stage.option == 'closed' || bookingData.stage.option.reasonLost"><span
            hs-bind="bookingData.customer.name">Customer Name</span>'s enquiry has been closed.</strong>
</div>