<nav class="enquiries-feed">
    <div class="toggle-enquiries-feed">
        <div class="close">
            <i></i><i></i>
        </div>

        <i></i>
        <i></i>
        <i></i>
    </div>

    <ul>
        <li class="stage new" stage="New" hs-class="active: feedData.current.openStage == 'New'">
            <span class="label numeric blue" hs-bind="feedData.count.new">-</span>
            <strong>New</strong>
        </li>
        <li class="sub" hs-class="is-visible: feedData.current.openStage == 'New'">
            <ul class="new" hs-repeat="data in feedData">
                <li>
                    <a hs-class="active: data.current" hs-href="/EnquiriesFeed/Enquiry/{=data._id}">
                        <strong><span hs-bind="data.customerName">Customer Name</span>'s <span hs-bind="data.word">Booking Word</span></strong>
                        <small>
                            <span hs-bind="data.venueName">No Venue Name</span> &bull;
                            <span hs-bind="data.budget | pounds">No Budget</span> &bull;
                            <span hs-bind="data.eventdate | date">No Event Date</span>
                        </small>
                    </a>
                </li>
            </ul>
            <button class="flat-grey block show-more" stage="New" hs-class="is-hidden: feedData.remaining == 0">Load <span
                    hs-bind="feedData.remaining"></span> more
            </button>
        </li>
        <li class="stage in-progress" stage="In Progress" hs-class="active: feedData.current.openStage == 'In Progress'">
            <span class="label numeric green" hs-bind="feedData.count.in-progress"></span>
            <strong>In Progress</strong>
        </li>
        <li class="sub" hs-class="is-visible: feedData.current.openStage == 'In Progress'">
            <ul class="in-progress" hs-repeat="data in feedData">
                <li>
                    <a hs-class="active: data.current" hs-href="/EnquiriesFeed/Enquiry/{=data._id}">
                        <strong><span hs-bind="data.customerName">Customer Name</span>'s <span hs-bind="data.word">Booking Word</span></strong>
                        <small>
                            <span hs-bind="data.venueName">No Venue Name</span> &bull;
                            <span hs-bind="data.budget | pounds">No Budget</span> &bull;
                            <span hs-bind="data.eventdate | date">No Event Date</span>
                        </small>
                    </a>
                </li>
            </ul>
            <button class="flat-grey block show-more" stage="In Progress" hs-class="is-hidden: feedData.remaining == 0">Load <span
                    hs-bind="feedData.remaining"></span> more
            </button>
        </li>
        <li class="stage needs-archiving" stage="Needs Archiving" hs-class="active: feedData.current.openStage == 'Needs Archiving'">
            <span class="label numeric yellow" hs-bind="feedData.count.needs-archiving">-</span>
            <strong>Needs Archiving</strong>
        </li>
        <li class="sub" hs-class="is-visible: feedData.current.openStage == 'Needs Archiving'">
            <ul class="needs-archiving" hs-repeat="data in feedData">
                <li>
                    <a hs-class="active: data.current" hs-href="/EnquiriesFeed/Enquiry/{=data._id}">
                        <strong><span hs-bind="data.customerName">Customer Name</span>'s <span hs-bind="data.word">Booking Word</span></strong>
                        <small>
                            <span hs-bind="data.venueName">No Venue Name</span> &bull;
                            <span hs-bind="data.budget | pounds">No Budget</span> &bull;
                            <span hs-bind="data.eventdate | date">No Event Date</span>
                        </small>
                    </a>
                </li>
            </ul>
            <button class="flat-grey block show-more" stage="Needs Archiving" hs-class="is-hidden: feedData.remaining == 0">Load <span
                    hs-bind="feedData.remaining"></span> more
            </button>
        </li>
        <li class="stage archived" stage="Archived" hs-class="active: feedData.current.openStage == 'Archived'">
            <span class="label numeric black" hs-bind="feedData.count.archived">-</span>
            <strong>Archived</strong>
        </li>
        <li class="sub" hs-class="is-visible: feedData.current.openStage == 'Archived'">
            <ul class="archived" hs-repeat="data in feedData">
                <li>
                    <a hs-class="active: data.current" hs-href="/EnquiriesFeed/Enquiry/{=data._id}">
                        <strong><span hs-bind="data.customerName">Customer Name</span>'s <span hs-bind="data.word">Booking Word</span></strong>
                        <small>
                            <span hs-bind="data.venueName">No Venue Name</span> &bull;
                            <span hs-bind="data.budget | pounds">No Budget</span> &bull;
                            <span hs-bind="data.eventdate | date">No Event Date</span>
                        </small>
                    </a>
                </li>
            </ul>
            <button class="flat-grey block show-more" stage="Archived" hs-class="is-hidden: feedData.remaining == 0">Load <span
                    hs-bind="feedData.remaining"></span> more
            </button>
        </li>
    </ul>
</nav>