<div class="modal is-hidden" id="modalQuickReply">
    <header>
        <strong class="heading">Thanks for using quick reply!</strong>
        <small class="link undo" hs-modal-close>Undo</small>
    </header>
    <main>
        <form>
            <label><strong>To:</strong> <span
                    hs-bind="bookingData.customer.name">Customer Name</span></label>
            <label><strong>From:</strong> <span
                    hs-bind="bookingData.venue.manager">Venue Team</span></label>
            <label><strong>Subject:</strong> <span>RE:
                <span hs-bind="bookingData.word">Word</span> at
                <span hs-bind="bookingData.venue.name">Venue</span>
            </span></label>

            <textarea name="message" rows="5" placeholder="Your message here..."></textarea>
        </form>
    </main>
    <footer>
        <button class="green pull-left hs-to-step send-email" update="customerContactedHow: 'quick'" hs-modal-close>
            Send
        </button>

        <!--<input type="filepicker" data-fp-apikey="A7pkhw39DQ7a61Ax3HjlIz"-->
               <!--onchange="addAttachments(event.fpfile)">-->

        <button class="pull-right flat-grey" id="pickFiles">
            <i class="fa fa-paperclip margin-right-half"></i>
            Add Attachment
        </button>
    </footer>
</div>