<div class="modal is-hidden" id="modalQuickReply">
    <header>
        <strong class="heading">Thanks for using quick reply!</strong>
        <small class="link undo">Undo</small>
    </header>
    <main>
        <form>
            <label><strong>To:</strong> <span
                    data-bind="text: bookingDataObservable.customer.name">Customer Name</span></label>
            <label><strong>From:</strong> <span
                    data-bind="text: bookingDataObservable.venue.manager">Venue Team</span></label>
            <label><strong>Subject:</strong> <span>RE:
                <span data-bind="text: bookingDataObservable.word">Word</span> at
                <span data-bind="text: bookingDataObservable.venue.name">Venue</span>
            </span></label>

            <textarea name="message" rows="5" placeholder="Your message here..."></textarea>
        </form>
    </main>
    <footer>
        <button class="green pull-left close next-step" to-step="In Progress" update="customerContactedHow: 'quick'">
            Send
        </button>
        <button class="pull-right add-attachment">Add Attachment</button>
    </footer>
</div>