<div class="modal is-hidden" id="modalEmailCustomer">
    <header>
        <strong class="heading">Let us know when you've emailed <span hs-bind="bookingData.customer.firstName">Customer Name</span>!</strong>
        <small class="link undo" hs-modal-close>Back</small>
    </header>
    <main>
        <p class="contact-info" hs-bind="bookingData.customer.email">Email Address</p>
    </main>
    <footer>
        <button class="block green large hs-to-step" to-step="In Progress" update="customerContactedHow: 'email'"
                hs-modal-close>
            Yes, I have emailed <span hs-bind="bookingData.customer.firstName">Customer Name</span>
        </button>
    </footer>
</div>