<div class="modal is-hidden" id="modalSuggestEdits">
    <header>
        <strong class="heading">Suggest edits for this enquiry</strong>
        <small class="link undo" hs-modal-close>Back</small>
    </header>
    <main>
        <form class="suggest-edits">
            <div class="form-controls">
                <label for="suggestEditsType" class="col-sm-3">
                    <i class="fa fa-suitcase"></i>
                    Type
                </label>

                <input hs-bind="bookingData.word" value="N/A" type="text" id="suggestEditsType" class="col-sm-9"/>
            </div>
            <div class="form-controls">
                <label for="suggestEditsDate" class="col-sm-3">
                    <i class="fa fa-calendar"></i>
                    Date
                </label>

                <input hs-bind="bookingData.date.stardate" value="N/A" type="text" id="suggestEditsDate" class="col-sm-9"/>
            </div>
            <div class="form-controls">
                <label for="suggestEditsBudet" class="col-sm-3">
                    <i class="fa fa-gbp"></i>
                    Budget
                </label>

                <input hs-bind="bookingData.budget" value="N/A" type="text" id="suggestEditsBudet" class="col-sm-9"/>
            </div>
            <div class="form-controls">
                <label for="suggestEditsPeople" class="col-sm-3">
                    <i class="fa fa-user"></i>
                    People
                </label>

                <input hs-bind="bookingData.people" value="N/A" type="text" id="suggestEditsPeople" class="col-sm-9"/>
            </div>
            <div class="form-controls">
                <label for="suggestEditsStartTime" class="col-sm-3">
                    <i class="fa fa-clock-o"></i>
                    Start time
                </label>

                <input hs-bind="bookingData.time.starttime" value="N/A" type="text" id="suggestEditsStartTime" class="col-sm-9"/>
            </div>
            <div class="form-controls">
                <label for="suggestEditsFinishTime" class="col-sm-3">
                    <i class="fa fa-clock-o"></i>
                    Finish time
                </label>

                <input hs-bind="bookingData.time.finishtime" value="N/A" type="text" id="suggestEditsFinishTime" class="col-sm-9"/>
            </div>
        </form>
    </main>
    <footer>
        <button class="block green large" hs-modal-close>
            Save Edits
        </button>
    </footer>
</div>