<header>
    <div class="container photo">
        <div class="row head">
            <div class="col-xs-6 col-md-2 logo">

            </div>

            <div class="col-xs-6 col-md-3 col-xs-offset-0 col-md-offset-7">
                <button>Ask Venue Expert</button>
            </div>
        </div>

        <div class="row floating-spans">
            <p>We are UK's leading <br />
                marketplace for venues</p>
        </div>
    </div>
</header>

<section class="band">
    <div class="container">
        <div class="row">
            <strong>Scala/Spark Engineer</strong>
            <span>London, UK</span>
        </div>
    </div>
</section>

<section class="content">
    <div class="container">
        <div class="row">
            <strong>The Role</strong>
        </div>
        <div class="row">
            <p>Build and design high-quality products you can take pride in</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquam risus ac justo euismod tincidunt. Suspendisse a interdum felis, nec ultrices tortor. Praesent non nunc tellus. Nunc bibendum sit amet ipsum sit amet tincidunt. Sed egestas suscipit mauris, id hendrerit augue. Praesent et ipsum luctus nisi ultrices semper. Proin eu felis pellentesque, semper nisi ut, interdum nibh. In tincidunt congue sem, quis ultrices elit pellentesque eu. Pellentesque tempus ac libero a rhoncus. Etiam tincidunt, est sed dapibus luctus, nisi turpis sagittis neque, sed ultrices urna sapien id ex.
            </p>

        </div>
        <div class="row">
            <strong>The Ideal Candidate</strong>
        </div>
        <div class="row bullet">
            <p> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquam risus ac justo euismod tincidunt.</p>
            <p> - Suspendisse a interdum felis, nec ultrices tortor. Praesent non nunc tellus. Nunc bibendum sit amet ipsum sit amet tincidunt.</p>
            <p> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquam risus ac justo euismod tincidunt.</p>
            <p> - Suspendisse a interdum felis, nec ultrices tortor. Praesent non nunc tellus. Nunc bibendum sit amet ipsum sit amet tincidunt.</p>
            <p> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquam risus ac justo euismod tincidunt.</p>
            <p> - Suspendisse a interdum felis, nec ultrices tortor. Praesent non nunc tellus. Nunc bibendum sit amet ipsum sit amet tincidunt.</p>
        </div>
        <div class="row">
            <p>In your application, please include your CV and a link to your GitHub, as well as telling us about an interesting technical product or problem you've recently worked on.</p>
        </div>
        <div class="row apply">
            <button class="green">Apply</button>
        </div>
    </div>
</section>

<section class="incentives">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <i class="fa fa-lightbulb-o"></i>
                <strong>Innovate</strong>
                <p>Tom moved from Cornwall to the bright lights of the city in 2011</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <i class="fa fa-globe"></i>
                <strong>Expand</strong>
                <p>Tom moved from Cornwall to the bright lights of the city in 2011</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <i class="fa fa-heart-o"></i>
                <strong>Love</strong>
                <p>Tom moved from Cornwall to the bright lights of the city in 2011</p>
            </div>
        </div>
    </div>
</section>

{{> footer}}