<header>
    <div class="container photo">
        <div class="row head">
            <div class="col-xs-6 col-md-2 logo">

            </div>

            <div class="col-xs-6 col-md-3 col-xs-offset-0 col-md-offset-7">
                <button>Ask Venue Expert</button>
            </div>
        </div>

        <div class="row floating-spans">
            <p>We are UK's leading <br />
                marketplace for venues</p>
        </div>
    </div>
</header>

<section class="incentives">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <i class="fa fa-lightbulb-o"></i>
                <strong>Innovate</strong>
                <p>Tom moved from Cornwall to the bright lights of the city in 2011</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <i class="fa fa-globe"></i>
                <strong>Expand</strong>
                <p>Tom moved from Cornwall to the bright lights of the city in 2011</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <i class="fa fa-heart-o"></i>
                <strong>Love</strong>
                <p>Tom moved from Cornwall to the bright lights of the city in 2011</p>
            </div>
        </div>
    </div>
</section>

<section class="band">
    <div class="container">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <button class="green">View Current Openings</button>
        </div>
    </div>
</section>

<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <strong>Working at Hire Space</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <p>
                    We're shaping the way businesses get paid. Our products have drawn thousands
                    of businesses to reply on us to take care of their payments. We're shaping
                    the way businesses get paid.
                </p>
                <div class="image">
                    <img src="https://hirespace.com/img/content/The-Team-TomH.jpg" />
                </div>
                <div class="name">
                    <strong>Tom Hammond</strong>
                    <span>Venue Expert</span>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <p>
                    We're shaping the way businesses get paid. Our products have drawn thousands
                    of businesses to reply on us to take care of their payments. We're shaping
                    the way businesses get paid.
                </p>
                <div class="image">
                    <img src="https://hirespace.com/img/content/The-Team-TomH.jpg" />
                </div>
                <div class="name">
                    <strong>Tom Hammond</strong>
                    <span>Venue Expert</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="department">
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading">
                <strong>Current openings by department</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="opening">
                    <div class="title">
                        Finance and Accounting
                    </div>
                    <div class="description">
                        We are problem solvers at heart. We take our responibilities very seriously, but we are problem solvers at heart. We take our responibilities very seriously.
                    </div>
                    <div class="positions">
                        <strong>3 positions</strong>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="opening">
                    <div class="title">
                        Engineering
                    </div>
                    <div class="description">
                        We are problem solvers at heart. We take our responibilities very seriously, but we are problem solvers at heart. We take our responibilities very seriously.
                    </div>
                    <div class="positions">
                        <strong>3 positions</strong>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="open">
                    <div class="job">
                        <strong>Front-End Developer</strong>
                        <span class="city">London, UK</span>
                        <button class="green">View</button>
                    </div>

                    <div class="job">
                        <strong>UI Designer</strong>
                        <span class="city">London, UK</span>
                        <button class="green">View</button>
                    </div>

                    <div class="job">
                        <strong>Scala/Spark Engineer</strong>
                        <span class="city">London, UK</span>
                        <button class="green">View</button>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="opening">
                    <div class="title">
                        Administrative
                    </div>
                    <div class="description">
                        We are problem solvers at heart. We take our responibilities very seriously, but we are problem solvers at heart. We take our responibilities very seriously.
                    </div>
                    <div class="positions">
                        <strong>3 positions</strong>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="opening">
                    <div class="title">
                        Design
                    </div>
                    <div class="description">
                        We are problem solvers at heart. We take our responibilities very seriously, but we are problem solvers at heart. We take our responibilities very seriously.
                    </div>
                    <div class="positions">
                        <strong>3 positions</strong>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{{> footer}}