<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="Hire Space Prototype">
        <meta property="og:image" content="/assets/screen-icon.png">

        <title>Hire Space Prototype / {{ pageTitle }}</title>

        <link rel="stylesheet" type="text/css" href="/assets/css/website.min.css">
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="/assets/screen-icon.png">

        <script src="//use.typekit.net/yjj3tyk.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>

        <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
    </head>

    <body class="pre-load en {{ bodyClass }}" data-ctr="{{ controller }}">

        <div class="modal-backdrop is-hidden">
            {{> modalCallCustomer }}
            {{> modalEmailCustomer }}
            {{> modalQuickReply }}
        </div>

        {{{ yield }}}

        <script src="/assets/js/dist/vendor.js" type="text/javascript"></script>
        <script src="/assets/js/dist/app.js" type="text/javascript"></script>

    </body>
</html>