.progress-bar
  +border-radius(3px)

  background: $color-grey-50
  width: 100%
  height: $quarter-unit-layout

  .bar
    +border-radius(3px)

    min-width: $quarter-unit-layout
    background: $color-black
    height: 100%